.seccionbeneficios{
    height: max-content;
    display: flex;
   flex-direction: column;
    align-items: center;
    padding: 3em;

}

h4{
    font-family: "Fredoka", sans-serif;
    font-style:normal;
    font-variation-settings:"wdth" 100;
    font-size: 2.5vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    color: #414BB2;

}
h3{
    text-align: center;
}
.beneficioscontenedor{
    margin-top: 2%;
    display: grid;
    padding: 3em;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;


}

.beneficioscontenedor img{
    width: 50%;
    height: 60%;
    object-fit: cover;
}

.beneficio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1120px){
    
    .beneficioscontenedor{
        grid-template-columns: repeat(2, 1fr);
    
        }


}

@media(max-width: 480px){
    .beneficioscontenedor{

    grid-template-columns: repeat(2, 1fr);

    }


}