.reservacontenedor{
    padding: 5em;
    display: grid;
    grid-template-columns: repeat(2, 60%);

}

.reservaform{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 22%;
    
}

.fotoreserva{
    justify-content: center;
}

.fotoreserva img{
    width: 40%;
   
    border-radius: 15px;
}

@media(max-width: 1120px){
    
    .reservacontenedor{
        
        grid-template-columns: repeat(1, 1fr);
    
        }
        .fotoreserva{
            width: 100%;
            margin-right: 0;
            border-radius: 15px;
            display: flex;
            align-items: center;
            margin-top: 5%;
        }
        .fotoreserva img{
            width: 60%;
           
            border-radius: 15px;
        }
        


}

